<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Custom fonts for this template-->
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='sb-admin-2.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='funcs.js') }}"></script>

    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Website</title>
    {% endif %}
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{url_for('home')}}">
                <div class="sidebar-brand-icon rotate-n-15">

                </div>
                <div class="sidebar-brand-text mx-3">FoxES</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{{url_for('home')}}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Home</span></a>
            </li>


            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Áreas
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('covid_bp.covid')}}">
                    <i class="fas fa-virus"></i>
                    <span>Covid</span>
                </a>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('covid_bp.receivals')}}">
                    <i class="fas fa-vial"></i>
                    <span>Recebimentos</span>
                </a>

            <li class="nav-item">
                <a class="nav-link" href="{{url_for('covid_bp.pdf_route')}}">
                    <i class="fas fa-file-pdf"></i>
                    <span>Separar PDF</span>
                </a>

            <li class="nav-item">
                <a class="nav-link" href="{{url_for('covid_bp.notify')}}">
                    <i class="fas fa-bullhorn"></i>
                    <span>Notificar Vigilância</span>
                </a>

            <li class="nav-item">
                <a class="nav-link" href="{{url_for('covid_bp.make_xml_route')}}">
                    <i class="fas fa-file-code"></i>
                    <span>Gerar XML</span>
                </a>

            <li class="nav-item">
                <a class="nav-link" href="{{url_for('orcamentos_bp.orcamentos')}}">
                    <i class="fas fa-shopping-cart"></i>
                    <span>Orçamentos</span>
                </a>
                <!-- Divider -->
                <hr class="sidebar-divider d-none d-md-block">
        </ul>

        <!-- End of Sidebar -->

        <!-- Begin Page Content -->
        {% block content %}
        {%endblock content%}



    </div>
    <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->


</body>

</html>