Babel
celery
dnspython
docxtpl
flask
gspread
html5lib
httplib2
jinja2
matplotlib
numpy==1.19.0
oauth2client
pandas
pycparser
pyopenssl
pytz
readline
redis
setuptools
selenium
six
tinycss2
toml
traitlets
urllib3
werkzeug
wheel